<article
  class="animate-background rounded-xl bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 bg-[length:400%_400%] p-0.5 shadow-xl transition [animation-duration:_6s] hover:shadow-sm dark:shadow-gray-700/25"
>
  <div class="rounded-[10px] bg-white p-4 !pt-20 dark:bg-gray-900 sm:p-6">
    <time
      datetime="2022-10-10"
      class="block text-xs text-gray-500 dark:text-gray-400"
    >
      Data złozenia wniosku  - 10.03.1293
    </time>

  
      <h3 class="mt-0.5 text-lg font-medium text-gray-900 dark:text-white">
        Wniosek złozony przez : Aleks<br> Kwota premii: 1 200 000 
      </h3>

    <div class="mt-4 flex flex-wrap gap-1">
      <span class="whitespace-nowrap rounded-full bg-purple-100 px-2.5 py-0.5 text-xs text-purple-600 dark:bg-purple-600 dark:text-purple-100">
       <button class="whitespace-nowrap rounded-full bg-purple-100 px-2.5 py-0.5 text-xs text-purple-600 dark:bg-purple-600 dark:text-purple-100 hover:text-black">Sprawdź Wniosek </button> 
       </span>
       <span class="whitespace-nowrap rounded-full bg-green-100 px-2.5 py-0.5 text-xs text-green-600 dark:bg-green-600 dark:text-green-100">
        <button class="whitespace-nowrap rounded-full bg-purple-100 px-2.5 py-0.5 text-xs text-green-600 dark:bg-green-600 dark:text-green-100 hover:bg-green-500 hover:text-black">Akceptuj Wniosek </button> 
       </span>
      <span class="whitespace-nowrap rounded-full bg-red-100 px-2.5 py-0.5 text-xs text-red-600 dark:bg-red-600 dark:text-red-100">
        <button class="whitespace-nowrap rounded-full bg-red-100 px-2.5 py-0.5 text-xs text-red-600 dark:bg-red-600 dark:text-green-100 hover:bg-red-500 hover:text-black">Odrzuć Wniosek </button> 
    </span>
    </div>
  </div>
</article>