
<div class="flex gap-2 text-xs items-center justify-center text-2xl "><h1 class=""> Twoje Raporty </h1> </div>

<div class="overflow-x-auto">
    <table class="min-w-full divide-y-2 divide-gray-200 text-sm">
      <thead class="ltr:text-left">
        <tr>
          <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 text-left">
            Projekt
          </th>
          <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 text-left">
            Status
          </th>
        
        </tr>
      </thead>
  
      <tbody class="divide-y divide-gray-200">
        <tr class="odd:bg-gray-50">
          <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
            Robyg
          </td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700">popraw raport</td>


        </tr>
  
        <tr class="odd:bg-gray-50">
          <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
           Elektroklim
          </td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700">raport do zrobienia</td>


        </tr>
  
        <tr class="odd:bg-gray-50">
          <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
            Apotex
          </td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700">Komentarz</td>


        </tr>
      </tbody>
    </table>
  </div>
  