<mat-table [dataSource]="dataSource">

  <!-- Select Column -->
  <ng-container matColumnDef="select">
    <mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? toggleAllRows() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    class="w-1">
      </mat-checkbox>
    </mat-header-cell>
    <mat-cell *matCellDef="let row" class="text-center">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    class="w-1">
      </mat-checkbox>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
    <mat-cell *matCellDef="let row" class="text-center"> {{ row.position }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="customer">
    <mat-header-cell *matHeaderCellDef> Customer </mat-header-cell>
    <mat-cell *matCellDef="let document"> {{ document.customer }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="invoiceNumber">
    <mat-header-cell *matHeaderCellDef> Invoice Number </mat-header-cell>
    <mat-cell *matCellDef="let document"> {{ document.invoiceNumber }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="caseNumber">
    <mat-header-cell *matHeaderCellDef> Case Number </mat-header-cell>
    <mat-cell *matCellDef="let document"> {{ document.caseNumber }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="income">
    <mat-header-cell *matHeaderCellDef> Income </mat-header-cell>
    <mat-cell *matCellDef="let document"> {{ document.income }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="timeConsuming">
    <mat-header-cell *matHeaderCellDef> Time Consuming </mat-header-cell>
    <mat-cell *matCellDef="let document"> {{ document.timeConsuming }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="drive">
    <mat-header-cell *matHeaderCellDef> Drive </mat-header-cell>
    <mat-cell *matCellDef="let document"> {{ document.drive }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="month">
    <mat-header-cell *matHeaderCellDef> Miesiąc dodania dokumentu  </mat-header-cell>
    <mat-cell *matCellDef="let document"> {{ document.month }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="invoiceStatus">
    <mat-header-cell *matHeaderCellDef> Invoice Status </mat-header-cell>
    <mat-cell *matCellDef="let document"> {{ document.invoiceStatus }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="createDate">
    <mat-header-cell *matHeaderCellDef> Create Date </mat-header-cell>
    <mat-cell *matCellDef="let document"> {{ document.createDate | date: 'shortDate' }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="settlementDate">
    <mat-header-cell *matHeaderCellDef> Settlement Date </mat-header-cell>
    <mat-cell *matCellDef="let document"> {{ document.settlementDate | date: 'shortDate' }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="modifyDate">
    <mat-header-cell *matHeaderCellDef> Modify Date </mat-header-cell>
    <mat-cell *matCellDef="let document"> {{ document.modifyDate | date: 'shortDate' }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="edit">
    <mat-header-cell *matHeaderCellDef> Edytuj </mat-header-cell>
    <mat-cell *matCellDef="let document" class="text-center">
      <button mat-icon-button color="primary" (click)="editDocument(document)">
        <mat-icon>edit</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
</mat-paginator>
<button (click)="RedirectToAddInvoice()"  class="bg-black hover:bg-gray-400 text-white hover:text-black font-bold py-2 px-4 rounded w-1/2">Dodaj Fakturę</button>  
<button class="bg-black hover:bg-gray-400 text-white hover:text-black font-bold py-2 px-4 rounded w-1/2">Rozlicz Premie</button> 
