
<div class="mx-auto w-full">
	<div class="flex flex-col">
    <div class="overflow-x-auto shadow-md sm:rounded-lg">
        <div class="inline-block min-w-full align-middle">
            <div class="overflow-hidden ">
                <table class="min-w-full divide-y divide-gray-200 table-fixed dark:divide-gray-700">
                    <thead class="bg-gray-100 dark:bg-gray-700">
                        <tr>
                            <th scope="col" class="p-4">
                                <div class="flex items-center">
                                    <input id="checkbox-all" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                    <label for="checkbox-all" class="sr-only">checkbox</label>
                                </div>
                            </th>
                            <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                GUID
                            </th>
                            <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                Imię
                            </th>
                            <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                Nazwisko
                            </th>
                            <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                E-mail 
                            </th>
                            <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                Czy Usunięty ? 
                            </th>
                            <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                Data Utworzenia
                            </th>
                            <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                Data Usunięcia
                            </th>
                            <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                Admin ? 
                            </th>
                            <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                Supervisor ? 
                            </th>
                            
                            <th scope="col" class="p-4">
                                <span class="sr-only">Edit</span>
                            </th>
                            
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700">
                        <tr *ngFor="let user of users" class="hover:bg-gray-100 dark:hover:bg-gray-700">
                            <td class="p-4 w-4">
                                <div class="flex items-center">
                                    <input id="checkbox-table-1" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                    <label for="checkbox-table-1" class="sr-only">checkbox</label>
                                </div>
                            </td>
                            <td class="py-4 text-gray-300 px-6 text-sm font-medium text-left whitespace-nowrap">{{user.id }}</td>
                            <td class="py-4 text-gray-300 px-6 text-sm font-medium text-left whitespace-nowrap">{{user.userName}}</td>
                            <td class="py-4 text-gray-300 px-6 text-sm font-medium text-left whitespace-nowrap">{{user.userSurname}}</td>
                            <td class="py-4 text-gray-300 px-6 text-sm font-medium text-left whitespace-nowrap">{{user.email}}</td>
                            <td class="py-4 text-gray-300 px-6 text-sm font-medium text-left whitespace-nowrap">{{user.isDeleted}}</td>
                            <td class="py-4 text-gray-300 px-6 text-sm font-medium text-left whitespace-nowrap">{{user.createDate | date: 'shortDate'}}</td>
                            <td class="py-4 text-gray-300 px-6 text-sm font-medium text-left whitespace-nowrap">{{user.deleteDate | date: 'shortDate'}}</td>
                            <td class="py-4 text-gray-300 px-6 text-sm font-medium text-left whitespace-nowrap">{{user.isSuperUser}}</td>
                            <td class="py-4 text-gray-300 px-6 text-sm font-medium text-left whitespace-nowrap">{{user.isSupervisor}}</td>

                            <td class="py-4 px-6 text-sm font-medium text-left whitespace-nowrap">
                            <button (click)="RedirectToEditUser()" class="bg-slate-800 hover:bg-gray-400 text-white hover:text-white font-bold py-2 px-4">Edytuj</button>
                            </td>
                        </tr>           
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
<!-- 
<button (click)="RedirectToAddInvoice()"  class="bg-slate-800 hover:bg-gray-400 text-white hover:text-black font-bold py-2 px-4 rounded w-1/2">Dodaj Fakturę</button>  
<button class="bg-slate-800 hover:bg-gray-400 text-white hover:text-black font-bold py-2 px-4 rounded w-1/2">Rozlicz Premie</button>   -->
</div>