<mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? toggleAllRows() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      class="w-1">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="text-center">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      class="w-1">
        </mat-checkbox>
      </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let row" class="text-center"> {{ row.position }} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="customerName">
        <mat-header-cell *matHeaderCellDef> Nazwa </mat-header-cell>
        <mat-cell *matCellDef="let customer"> {{ customer.customerName }} </mat-cell>
      </ng-container>    
  
    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef> Edytuj </mat-header-cell>
      <mat-cell *matCellDef="let document" class="text-center">
        <button mat-icon-button color="primary">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
  
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
  </mat-paginator>
